<div class="ui menu">
    <div class="header item">
        <a class="link" href="/">
        <img class="ui mini image" src="/images/LOGO_80_CRIMSON.png" alt="Crimson Root Logo">
        </a>
    </div>
    <div class="ui dropdown item">
        Network
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" href="/speedtest">Speed Test</a>
        </div>
    </div>
    <div class="right menu">
        <a class="item">Login</a>
        <a class="item">Logout</a>
        <a class="item">Sign Up</a>
        <a class="item">Help</a>
    </div>
</div>
<script src="/js/menu.js"></script>
